/*------------------------------------------------------------------
    BASIC
-------------------------------------------------------------------*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;	   
  }
   html {
	 background-color: #fff;
         color: #555;
         font-family: 'Lato','Helvetica', 'Arial', sans-serif ;
         font-size: 20px;
	 font-weight: 400;
	 line-height: 145%;
        }

	img {
	     max-width: 100%;
	     height: auto;
	     vertical-align: middle;
	     border: 0;
	    }
     p { font-size: 90%; }
	 
/*------------------------------------------------------------------
    GRID
-------------------------------------------------------------------*/
         .row {
	       max-width: 1100px; 
	       margin: 0 auto;
	      }
         .section {
		   padding: 2rem 10px;
                  }

         section:after {
			display: block;
			height: 2px;
			width: 5em;
		        margin: 15px auto;
			background-color: #ee5253;
			content: "";
			}
	  .box { padding: 1% .5%; }

/*------------------------------------------------------------------
     REUSABLE COMPONENTS
-------------------------------------------------------------------*/	
 /*   HEADINGS     */
          h1,
	  h2,
	  h3 {
	      margin: 30px 0;
	      font-weight: 300;
	      letter-spacing: 1px;  		 
	     }
					
	  h1 {
	      color: #fff;
	      font-size: 240%;
	      word-spacing: 4px;
	      letter-spacing: 1px;
	      line-height: 145%;
	     }

	   h2 {
	       font-size: 180%;
	       word-spacing: 2px;
	       text-align: center;
	       letter-spacing: 1px;
	      }
				 
	   h2:after {
		     display: block;
		     height: 2px;
		     width: 5em;
		     margin: 15px auto;
		     background-color: #ee5253;
		     content: "";
		    }

            h3 {
	        font-size: 110%;
		margin: 10px 0;
	       }
     /* BUTTONS */

		.btn:link,
                .btn:visited {
			      display: inline-block;
			      margin-right: .75rem;
                              padding: .5rem 1.5rem;
                              text-decoration: none;	
			      border: 1px solid #ee5253;
			      border-radius: 100px;
			      transition: background-color .2s, border .2s, color .2s;
			     }
				
		.btn-action:link,
                .btn-action:visited { 
				     background-color: #ee5253;
                                     color: #fff;
				    }
		.btn-info:link,
		.btn-info:visited { color: #ee5253; }
				 
		.btn-action:hover,
		.btn-action:active {
				    background-color:  #772929; 
				    border: 1px solid  #772929;
				   }
		.btn-info:hover,
		.btn-info:active {
			color: #fff;
				  border: 1px solid #772929;
			          background-color:  #772929;
				  
				 }
	/* PARAGRAPH */
		.long-copy { 
		            width: 70%;
			    margin-left: 15%;
			    text-align: center;
			   }
      /* ICONS */
                /* icons				    */
	    
		.icon {
		       display: block;
		       margin-bottom: 10px;
		       color: #ee5253;
		       font-size: 250%;
		      
		       }

		.box:hover .icon { transform: scale(1) rotate(1deg); }
/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/		   
	  header {
	          height: 100vh;
		  display: flex;
		  flex-direction: column;
		  background-color: goldenrod;
	          background-image:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("img/hero.jpg");
		  background-repeat: no-repeat;
		  background-size: cover;
		  background-position: center;
		 }
				  
	  .hero-text { margin: auto; } 
	  
	 
/*------------------------------------------------------------------
			NAV
-------------------------------------------------------------------*/		
	nav { 
	     display: flex;
	     flex-direction: row; 
	     justify-content: center;
	     padding: .5rem;
	     border: 1px solid red;	 
	    } 
			   
	.logo { 
	      flex: 1;
	      display: flex;
	      justify-content: center;
	      }
			  
	.logo-image {
		     height: 5rem;
		     width: auto;
		    }
					 
	.main-navigation {
			  display: flex;
			  align-items: center;
			  justify-content: flex-end;
			  flex:4; 
			  list-style: none;
			 } 
								
	.main-navigation li { 
		             display: inline-block;
			     margin-left: 2rem;
		            }
								 
	.main-navigation li a:link,
	.main-navigation li a:visited {
				       padding: 8px 0; 
                                       text-decoration: none;
			               color: #fff;
			               text-transform: uppercase;
			               font-size: 90%;
			               border-bottom: 3px solid transparent;
			               transition: border-bottom .2s, color .2s;  
			               
                    	              }
       .main-navigation li a:hover,
       .main-navigation li a:active {
				     border-bottom: 3px solid #ee5253;
				     transition: border-bottom .2s, color .2s; 
			            }

/*------------------------------------------------------------------
    FEATURES
-------------------------------------------------------------------*/
	         
	 .feature-items {
			  display: flex;
			  align-items: stretch;
			}
/*------------------------------------------------------------------
	IMAGE SHOWCASE
	-------------------------------------------------------------------*/
	   .gallery {
	             display: flex;
		     margin: auto;
		     flex-direction: column;
		    }
			   
	      .thumbnail {
		         display: flex;
			 flex-wrap: wrap;
 			 justify-content: space-around;
 	                 align-items: center;
			 margin:0 auto;
			 max-width: 900px;
			}
	     .thumbnail img {
			     margin: 10px auto;
			     padding: 0;
			     width: auto;
			     height: 9em;
			    }

             .thumbnail-box img:hover {
					transform: scale(1) rotate(1deg);
					box-shadow: 0 0 7px rgba(0, 0, 0, .5);
					opacity: 1;
				      }
   /*------------------------------------------------------------------
	HOW IT WORKS 
	-------------------------------------------------------------------*/	
   .section-steps {background-color:  #EDEDED; }   
      .step-box { display: flex; }	
      .mobile {
	       display: flex;
	       flex: 1;
	       margin: 0;
	       padding: 15px;
	    }
      .mobile > img { 
	             height: 20em;
                     margin:0;
		     margin-left: 50%;
		    }
		
      .work-steps {
		   flex: 1;
		   padding: 65px;
		  }
	 .step {
		margin-bottom: 1rem;
                display: flex;
		}
		   
	 .step>div { 
		    display: inline-block;
		    flex:1;
		    padding: .25rem;
		    height: 2.5rem;
		    width: 2rem;
		    float: left;
		    color: #ee5253;
		    text-align: center;
		    font-size: 150%;
		    border: 3px solid #ee5253;
		    border-radius: 50%;
		   }
	  .step >p {
	            flex: 9;
		    margin-left: 3%;
		   }
	  .btn-app img {margin-top: 2rem; }
/*------------------------------------------------------------------
    ^TESTIMONIALS
-------------------------------------------------------------------*/	
     .section-testimonials {
	               background-color: goldenrod;
				   background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("img/back-customers.jpg");
				   background-repeat: no-repeat;
				   background-size: cover;
				   background-position: center;
				   display: flex;
				   flex-direction: column;
				   color: #fff;	
				   
	                }
	 		.testimonials-page {
			                    display: flex;
							justify-content: space-around;
		                        align-items: center;
								font-size: .9rem;
								font-weight: 300;
								font-style: oblique;
								}	
	.testimonial-box {
	     flex: 1;
         text-align: left;	
         padding: 1.5%;		 
	}
		.testimonial-box  img { 
		     border-radius: 50%;
			 width: 30%;
			 height: auto;	
			 margin: 10px 0 2rem;	
		}
		.testimonial { position: relative; }
		
		blockquote:before {
		    content: " \0022 ";
			font-size: 500%	;
			display: block;
			position: absolute;
			top: -15px;
			left: -15px;	
		}
/*------------------------------------------------------------------
   SIGN UP SECTION
-------------------------------------------------------------------*/
     .section-signUp {
	              background-color: #F4F4F4;
		            display: flex;
		 	        width: 100%;
				   flex-direction: column;	
				 }
	     .package-box {
		      display: flex;
			  flex-direction: row;	
			  margin: auto;
		 }
	 .package-item {
	      display: flex;
		  background-color: #fff;
	      
		  margin: 0 1%;
		  flex: 1;
		  padding: 15px;	
		flex-direction: column;	
	 }
        .package-header,
       .package-details		{
		     border-bottom: 1px dotted lightgrey;
			
		}
		.package-headers,
		.package-details,
		.package-footer  {
		      padding: 10px;
			  flex: 1;
			  display: flex;
		}
		.package-header {background-color: pink; }
		
/*------------------------------------------------------------------
   MAX 900px
-------------------------------------------------------------------*/	
@media screen and (max-width: 900px )	{
    
	h2,
	h3 {
	    padding: 0;
	    margin: 10px 0;
            text-align: center;
	   }
	
	 .feature-items { 
		 	display: flex;
		        flex-direction: column;
			align-items: center;
                        }
			
	    .box {
		  padding: 1% .5%;
		  width: 80%;
		 }
	    .icon { text-align: center; }
}
			
/*------------------------------------------------------------------
   MAX 775px
-------------------------------------------------------------------*/			
@media screen and (max-width: 775px ) {
	
	html { font-size: 15px;}
	h2,
	h3 {
	    padding: 0;
	    margin: 10px 0;
	    text-align: center;
	   }

	   .feature-items { 
		   	   display: flex;
		           flex-direction: column;
			   align-items: center;
                          }
			
	   .box {
	         padding: 1% .5%;
		 max-width: 550px;
		}
	
	   .icon { text-align: center; }
	.testimonials-page {
			                   
							   width: 80%;
		                       flex-direction: column;
							   margin: auto;
								}	
	   .testimonial-box { 
	                    width: 100%;
						font-size: 110%;
						margin-bottom: 1rem;
						}
		.testimonial-box:last-child { margin-bottom: 0; }
		
	   .testimonial-box  img { 
		     
			 width: 20%;
			 	
		}
  }
/*------------------------------------------------------------------
    MAX 585px
-------------------------------------------------------------------*/
@media screen and (max-width: 585px) {
    /* Basic */
          h1,
	  h2,
	  h3 { margin: 15px 0; }
					
	  h1 {
	      padding: 10px;
	      font-size: 180%;
	     }

	   h2 { font-size: 125%; }
				 
	   h2:after { width: 3em; }

            h3 {
		margin: 10px 0;    
	        font-size: 110%;
	       }	
	
   /* header */
	
         .main-navigation {  display: none; } 
	 .logo { justify-content: flex-start; }
	 .hamburger {
	             display: flex;
		     flex: 1;
		     justify-content: flex-end;
		     align-items: center;
		     margin-right: 1rem;
		     color: #fff;
		     font-size: 2rem;
		     font-weight: bold;
		     }
	
	.hero-text h1 {
	               margin-left: 10px;
		       font-size: 200%;
		       line-height: 150%;
		      }
	
	 .links-div {
	             display: flex;
		     flex-direction: column;
		     width: 50%;
		     min-width: 180px;
		     margin: auto;	
	            }
	 .btn-action,
         .btn-info { flex:1; }
		
	 .btn-action { margin-bottom: .5rem; }
		
	/* features */
	
	 .feature-items { 
		        flex-direction: column;
			display: flex;
			align-items: center;
                        }
			
	 .box { padding: 1% .5%; }
	 .thumbnail-box { justify-content: center; }
	
/* HOW IT WORKS */		
			
	.step-box { flex-direction: column; }
	.mobile > img { margin: 0 auto;  }
	.work-steps { padding: 15px; }
	   .step { 
		  width: 70%;
		  margin: 0 auto 1rem;
	         }
		   
	   .step >p {
		     flex: 11;
		     margin-left: 3%;
		    }
	   .btn-app img	{ 
		         margin: 20px 34% 0;
		         width: 32%;
			}
}
/*------------------------------------------------------------------
    MAX 400px
-------------------------------------------------------------------*/
@media screen and (max-width: 400px) {

   /* HOW IT WORKS */		
	.step { 
	       width: 90%; 
	       margin: 0 auto 1rem;
              }
	.btn-app img { 
		      margin: 20px 30% 0;
		      width: 40%;
		      min-width: 120px;
		     }

}
