/*------------------------------------------------------------------
    ^BASIC
-------------------------------------------------------------------*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;	   
  }
   html {
	 background-color: #fff;
         color: #555;
         font-family: 'Lato','Helvetica', 'Arial', sans-serif ;
         font-size: 20px;
	 font-weight: 400;
	 line-height: 145%;
        }
        img {
	     max-width: 100%;
	     height: auto;
	     vertical-align: middle;
	     border: 0;
	    }
          p { font-size: 90%; }
	 
/*------------------------------------------------------------------
    ^GRID
-------------------------------------------------------------------*/
         section,
         header { min-width: 300px; }
        .section { padding: 2rem 10px; }
        .box { padding: 1%; }

/*------------------------------------------------------------------
     ^REUSABLE COMPONENTS
-------------------------------------------------------------------*/	
 /*   ^HEADINGS     */
          h1,
	  h2,
	  h3 {
	      margin: 30px 0;
	      font-weight: 300;
	      letter-spacing: 1px;  		 
	     }
					
	  h1 {
	      color: #fff;
	      font-size: 240%;
	      word-spacing: 4px;
	      letter-spacing: 1px;
	      line-height: 145%;
	      padding: 0 10px; 
	     }

	   h2 {
	       font-size: 180%;
	       word-spacing: 2px;
	       text-align: center;
	       letter-spacing: 1px;
	       padding: 0 0 20px 0;
	      }
				 
	   h2:after {
		     display: block;
		     height: 2px;
		     width: 5em;
		     margin: 15px auto;
		     background-color: #ee5253;
		     content: "";
		    }

            h3 {
	        font-size: 110%;
		margin: 10px 0;
	       }
     /* ^BUTTONS */

		.btn:link,
                .btn:visited {
			      display: inline-block;
			      margin-right: .75rem;
                              padding: .5rem 1.5rem;
                              text-decoration: none;	
			      border: 1px solid #ee5253;
			      border-radius: 100px;
			      transition: background-color .2s, border .2s, color .2s;
			     }
				
		.btn-action:link,
                .btn-action:visited { 
				     background-color: #ee5253;
                                     color: #fff;
				    }
		.btn-info:link,
		.btn-info:visited { color: #ee5253; }
				 
		.btn-action:hover,
		.btn-action:active {
				    background-color:  #772929; 
				    border: 1px solid  #772929;
				   }
		.btn-info:hover,
		.btn-info:active {
			          color: #fff;
				  border: 1px solid #772929;
			          background-color:  #772929;
				 }
	/* ^PARAGRAPH */
		.long-copy { 
		            width: 70%;
			    margin-left: 15%;
			    text-align: center;
			   }
      /* ^ICONS */
                .icon {
		       display: block;
		       margin-bottom: 10px;
		       color: #ee5253;
		       font-size: 200%;
		      }

		.box:hover .icon { transform: scale(1) rotate(1deg); }
/*------------------------------------------------------------------
    ^HEADER
-------------------------------------------------------------------*/		   
	  header {
	          height: 100vh;
		  display: flex;
		  flex-direction: column;
		  background-color: goldenrod;
	          background-image:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("img/hero.jpg");
		  background-repeat: no-repeat;
		  background-size: cover;
		  background-position: center;
		 }
				  
	  .hero-text { margin: auto; } 
/*------------------------------------------------------------------
			^NAV
-------------------------------------------------------------------*/		
	nav { 
	     display: flex;
	     flex-direction: row; 
	     justify-content: center;
	     padding: .5rem;
	    } 
			   
	.logo { 
	      flex: 1;
	      display: flex;
	      justify-content: center;
	      }
			  
	.logo-image {
		     height: 5rem;
		     width: auto;
		    }
					 
	.main-navigation {
			  display: flex;
			  align-items: center;
			  justify-content: flex-end;
			  flex:4; 
			  list-style: none;
			 } 
								
	.main-navigation li { 
		             display: inline-block;
			     margin-left: 2rem;
		            }
								 
	.main-navigation li a:link,
	.main-navigation li a:visited {
				       padding: 8px 0; 
                                       text-decoration: none;
			               color: #fff;
			               text-transform: uppercase;
			               font-size: 90%;
			               border-bottom: 3px solid transparent;
			               transition: border-bottom .2s, color .2s;  
			               
                    	              }
       .main-navigation li a:hover,
       .main-navigation li a:active {
				     border-bottom: 3px solid #ee5253;
				     transition: border-bottom .2s, color .2s; 
			            }

/*------------------------------------------------------------------
    ^FEATURES
-------------------------------------------------------------------*/
	   .feature-items {
			  display: flex;
			  align-items: stretch;
		          margin: 2rem auto 0;
			}
	   .feature-items .box { 
		               margin: 0 auto;
		               flex:1;	 
			       }
/*------------------------------------------------------------------
	^IMAGE SHOWCASE
	-------------------------------------------------------------------*/
	   .gallery {
	             display: flex;
		     margin: auto;
		     flex-direction: column;
		    }
			   
	      .thumbnail {
		         display: flex;
			 flex-wrap: wrap;
 			 justify-content: space-around;
 	                 align-items: center;
			 margin:0 auto;
			 max-width: 900px;
			}
	     .thumbnail img {
			     margin: 10px auto;
			     padding: 0;
			     width: auto;
			     height: 9em;
			    }

             .thumbnail-box img:hover {
					transform: scale(1) rotate(1deg);
					box-shadow: 0 0 7px rgba(0, 0, 0, .5);
					opacity: 1;
				      }
   /*------------------------------------------------------------------
	^HOW IT WORKS 
	-------------------------------------------------------------------*/	
      .section-steps {background-color:  #f4f4f4; }   
      .step-box { display: flex; }	
      .mobile {
	       display: flex;
	       flex: 1;
	       margin: 0;
	       padding: 15px;
	      }
      .mobile > img { 
	             height: 20em;
                     margin:0;
		     margin-left: 50%;
		    }
		
      .work-steps {
		   flex: 1;
		   padding: 65px;
		  }
	 .step {
		margin-bottom: 1rem;
                display: flex;
		}
		   
	 .step>div { 
		    display: inline-block;
		    flex:1;
		    padding: .25rem;
		    height: 2.5rem;
		    width: 2rem;
		    float: left;
		    color: #ee5253;
		    text-align: center;
		    font-size: 150%;
		    border: 3px solid #ee5253;
		    border-radius: 50%;
		   }
	  .step >p {
	            flex: 9;
		    margin-left: 3%;
		   }
	  .btn-app img { margin-top: 2rem; }
/*------------------------------------------------------------------
 ^CITIES 
-------------------------------------------------------------------*/
    
	.cities-box {
	             display: flex;
		     justify-content: space-around;
		     align-items: center;
		     font-weight: 300;
		     width: 90%;
		     margin: auto;	
		    }	
	.cities-box li {
		        list-style: none;
			padding: .25rem .5rem;
		       }
	.cities-box i,
        .cities-box li a { color: #E6813A; }

	.cities-box i {margin-right: .5rem; }

/*------------------------------------------------------------------
    ^TESTIMONIALS
-------------------------------------------------------------------*/	
     .section-testimonials {
	                    background-color: goldenrod;
			    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("img/back-customers.jpg");
			    background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center;
			    display: flex;
			    flex-direction: column;
			    color: #fff;	
			   }
      .section-testimonals h2 {padding: 20px 0; } 

      .testimonials-page {
			    display: flex;
			    justify-content: space-around;
		            align-items: center;
			    font-size: .9rem;
			    font-weight: 300;
			    font-style: oblique;
			    width: 90%;
		            margin: auto;
			   }	
	.testimonial-box {
	                  flex: 1;
                          text-align: left;	
                          padding: 1.5%;		 
	                 }
	.testimonial-box  img { 
		               border-radius: 50%;
			       width: 30%;
			       height: auto;	
			       margin: 10px 0 2rem;	
		               }
       .testimonial { position: relative; }
		
       blockquote:before {
		          content: " \0022 ";
			  font-size: 500%	;
			  display: block;
			  position: absolute;
			  top: -15px;
			  left: -15px;	
		         }

*------------------------------------------------------------------
   ^PLANS SECTION
-------------------------------------------------------------------*/
     .section-plans {
	              background-color: #F4F4F4;
		      display: flex;
		      width: 100%;
		      flex-direction: column;	
		     }
        .plans-box {
		      display: flex;
		      flex-direction: row;	
		      margin: auto;
		     }
        .plans-item {
	               display: flex;
		       background-color: #fff;
	               margin: 0 .5%;
		       flex: 1;
		       padding: 5px;	
		       flex-direction: column;	
	             }
	 .plans-item li { 
		           list-style: none;	
		           padding-bottom: .5rem; 
                           }
	 .plans-item li:last-child { padding-bottom: 0; }

	 .plans-item i { 
			  color: #ee5253;
			  margin-right: .5rem;
	                 }
	 .plans-details { font-size: .8rem; }

        .plans-header,
        .plans-details { border-bottom: 1px dotted grey; }

	.plans-header,
	.plans-details,
	.plans-footer  { padding: 10px; }

        .plans-header small { font-size: .7rem; }

	.prize {
		font-size: 200%;
	        color:  #ee5253;
	       }
	.small {font-size: 70%; }
/*------------------------------------------------------------------
   ^CONTACT FORM
-------------------------------------------------------------------*/	
  
	.form-outer { 
	             width: 60%;
		     margin: auto;
		     padding: 0;
	            }
	.form-outer div {
	                 display: flex;
		         align-items: center;
		         margin-bottom: 20px;
		         flex-wrap: wrap;
	     	        }
        .form-outer .textarea { align-items: flex-start; }
	  
	.form-outer div label {  
	       		       padding: 8px;
		               flex: 1 0 120px;
                               max-width: 200px;
	                      }
        .form-outer  > div > label + * {
                                        flex: 1 0 220px;
				        padding: .5rem;
				        border: 1px solid #888;
				        border-radius: 2px;
				       }
       .newsletter > label + input { flex: 0; }
       .form-submit_button { justify-content: center; }
/*------------------------------------------------------------------
     ^FOOTER
-------------------------------------------------------------------*/		
        .footer { background-color: #333333;   }
	.footer-upper { display: flex; }
	.footer-menu { flex: 1; }
        .footer-social { 
			flex: 1;
			text-align: right;
		       }
	.footer-social a:link,
        .footer-social a:visited {
	                          color: #888;
	 			 }	 
	 .footer-social a:hover,
	 .footer-social a:focus {
	      			 color: #fff;
	 			}
	 .footer-social i { 
			   font-size: 150%;
			   margin-right: .85rem;
			   text-align: right;
			  }
	 .footer-upper li { list-style: none; }
	 .footer-lower {
		        text-align: center;
			padding-top: 1rem;
	               }
	 .footer-menu a:link,
	 .footer-menu a:visited {
	                         color: #888;
		                 text-decoration: none;
		                 font-size: .85rem;
		                 display: inline-block;
		                 margin-right: .25rem;
		                 padding: .5rem;
	                         }
	 
	 .footer-menu a:hover,
	 .footer-menu a:focus {
	                       color: #fff;
	                       }	
/*------------------------------------------------------------------
   ^MAX 900px
-------------------------------------------------------------------*/	
@media screen and (max-width: 900px ) {
    /* ^Basic */
	h2,
	h3 {
	    padding: 20px 0;
            text-align: center;
	   }
	h2 { 
	    line-height: 145%;    
	    font-size: 140%;
           }
/* ^Feature */
	 .feature-items { 
		 	 display: flex;
		         flex-direction: column;
                        }
	.feature-items div:not(:first-child){ margin-top: 2rem; } 
	.box {
	      padding: 1% .5%;
	      width: 80%;
	     }
	.icon { text-align: center; }
	
/* ^CITIES */
        .cities-box { font-size: 80%; }	
	.cities-box li {
			list-style: none;
			padding: .15rem .35rem;
			}
	.cities-box i,
         .cities-box li a { color: #E6813A; }
	
	.cities-box i {margin-right: .5rem; }
        .city h3 {
	          padding: 10px;
		  margin: 0;	
		 }
	
/* ^TESTIMONIALS */
	.testimonials-page {
			    width: 80%;
		            flex-direction: column;
			    margin: auto;
			   }	
        .testimonial-box  img { 
		               border-radius: 50%;
			       width: 15%;
			      }
/* ^PacKages*/
	 .plans-item {
	                margin: auto;
		        margin-top: 30px;
		        text-align: center;
		        width: 80%; 
		       }
	    .plans-box {
		          width: 80%;
			  flex-direction: column;	
			 }
/*^footer*/
	   .footer-upper {
	                  display: flex;
		          flex-direction: column;
			  align-items: center;
			 }
	   .footer-lower {
	                  display: flex;
			  flex-direction: column;
			  align-items:center;
			  justify-content: flex-start;
			 }
	   .footer-social { padding: 1rem; }
}
			
/*------------------------------------------------------------------
   ^MAX 775px
-------------------------------------------------------------------*/			
@media screen and (max-width: 775px ) {
/* ^Î’ASIC */
	html { font-size: 18px; }
	h2,
	h3 {
	    margin: 10px 0;
	    text-align: center;
	   }
	 p {font-size: 90%; }
	
/* ^HEADER */	
	 .main-navigation li a:visited,
         .main-navigation li a:link  { font-size: 80%; }
        	
	 .logo	{ 
		  margin-left: 5%;
		  justify-content: flex-start;
	        }
         .logo-image,
	 .logo-image-black {
	    	            height: 2.5rem;
		            width: auto;
		           }
	.main-navigation {  
		          flex-direction: column;
			  align-items: flex-start;
			  margin-top: 1rem;
	                 } 
	.main-navigation li a:visited,
	.main-navigation li a:link {
		  		     font-size: .888rem;
		                     padding: 5px 0;
	                            }
	
 	.sticky-navigation .main-navigation { min-width: 200px; } 
	.sticky-navigation .main-navigation  li a:visited, 
        .sticky-navigation .main-navigation  li a:link  { 
	                                                 font-size: .888rem;
							 padding: 5px 0;
							}  
	 .hamburger {
	             display: flex;
		     flex:1;
		     justify-content: flex-end;
		     align-items: center;
		     margin-right: 1rem;
		     color: #fff;
		     font-size: 2rem;
		     font-weight: bold;
		   }
	  .sticky-navigation .hamburger { color: #000; }
	  .hero-text {padding: 10px; }
/* FEATURE */
	 .feature-items { 
		   	 display: flex;
		         flex-direction: column;
			 align-items: center;
                       }
	 .box {
	       padding: 1% .5%;
	       max-width: 550px;
	      }
	
	 .icon { text-align: center; }
/* GALLERY */
	 .thumbnail-box { width: 80%; }
	
/* CITIES */
	.cities-box {
	             flex-direction: column;
		     font-size: 100%;
		    }	
	.cities-box li {
		        list-style: none;
			padding: .25rem .5rem;
		        }
	.cities-box i,
        .cities-box li a { color: #E6813A; }
	.cities-box i { margin-right: .5rem; }				  
	.city { margin-bottom: 2.5rem; }
	.city:last-child { margin-bottom: 1rem; }
	.cities-box h3 { 
		        text-align: left;
		        padding: 25px;
	                }
	
/* TESTIMONIALS */ 
	.testimonial-box { 
	                  width: 100%;
			  font-size: 110%;
			  margin-bottom: 1rem;
			 }
	   .testimonial-box:last-child { margin-bottom: 0; }
		
	   .testimonial-box  img { width: 20%; }
/* PLANS */	
	   .plans-details { font-size: 1rem; }
	 
           .plans-header small { font-size: .85rem; }
	   .prize {
		   font-size: 200%;
	           color:  #ee5253;
		  }
		
	   .small {font-size: 80%; }
		
	   .plans-box {
		         width: 80%;
			 flex-direction: column;	
		        }
	   .plans-item li {list-style: none; }
  }
/*------------------------------------------------------------------
    MAX 665px
-------------------------------------------------------------------*/
@media screen and (max-width: 665px) {
    /* Basic */
          h1,
	  h2,
	  h3 { margin: 15px 0; }
					
	  h1 {
	      padding: 10px;
	      font-size: 180%;
	     }

	   h2 { font-size: 110%; }
				 
	   h2:after { width: 3em; }

            h3 {
		margin: 10px 0;    
	        font-size: 110%;
	       }	
	
   /* header */
	 .links-div {
	             display: flex;
		     flex-direction: column;
		     width: 50%;
		     min-width: 180px;
		     margin: auto;	
	            }
	 .btn-action,
         .btn-info { 
		    flex:1;
	            width: 200px;     
	           }
		
	 .btn-action { margin-bottom: .5rem; }
		
	/* features */
	
	 .feature-items { 
		        flex-direction: column;
			display: flex;
			align-items: center;
                        }
			
	 .box { padding: 1% .5%; }
	 .thumbnail-box { 
		         justify-content: center;
			 width: 100%;
	                }
	
/* HOW IT WORKS */		
			
	.step-box { flex-direction: column; }
	.mobile > img { margin: 0 auto;  }
	.work-steps { padding: 15px; }
	   .step { 
		  width: 70%;
		  margin: 0 auto 1rem;
	         }
		   
	   .step >p {
		     flex: 11;
		     margin-left: 3%;
		    }
	   .btn-app img	{ 
		         margin: 20px 34% 0;
		         width: 32%;
			}
/* Cities */
       .cities-box li { font-size: .85rem; }

/* Testimonials */
	blockquote:before {
			   font-size: 300%;
			   top: -15px;
			   left: -15px;	
                	  }
}
/*------------------------------------------------------------------
    MAX 400px
-------------------------------------------------------------------*/
@media screen and (max-width: 400px) {
/* BASIC */
        h1 { 
	    font-size: 140%;
	    padding: 5px;
	   }
	 h3 { font-size: 1rem; }
/* GRID */
	.section { padding: 1.5rem 10px; }
/* REUSABLE */
	.btn-action,
        .btn-info { flex:1;
		    width: 180px;
                  } 
/* HEADER  */
	.hamburger  { margin-right: 15%; }
	
   /* HOW IT WORKS */		
	.step { 
	       width: 90%; 
	       margin: 0 auto 1rem;
              }
	.btn-app img { 
		      margin: 20px 30% 0;
		      width: 40%;
		      min-width: 120px;
		     }
   /* PLANS */
	plans-item { width: 100%;  }
   /* CONTACT FORM */
        .newsletter span {display: none; }
 /* 

}
