/*------------------------------------------------------------------
^Basic
-------------------------------------------------------------------*/
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
       font-family: "helvetica neue", helvetica, arial, sans-serif;
       }
 
/*------------------------------------------------------------------
	^REUSABLE COMPONENTS
-------------------------------------------------------------------*/
/* ^HEADINGS */

/* ^LINKS */
    .alt-link {
        font-size: 1.25rem;
        padding: .5rem 1rem;
    }
    .alt-link:visited,
    .alt-link:link {
        color: #DAA520;
    }
    .alt-link:hover,
    .alt-link:active {
        color: #5C6D81;
    }
/* ^BUTTONS */
     
   .btn {
		 transition: background-color .2s, border .2s, color .2s;
  border: 2px solid #DAA520;
		}
    .btn-distinct:link,
    .btn-distinct:visited { 
		           background-color: #DAA520;
			 
                          }
   .btn-ghost:link,
   .btn-ghost:visited { 
		    
		       background-color: transparent;
		      }
    .btn-distinct:hover,
    .btn-distinct:focus { 
		         background-color: #AE8419;
		         border: 2px solid #AE8419;
                        }
    .btn-ghost:hover,
    .btn-ghost:focus { 
		      border: 2px solid #AE8419;
		      background-color: #AE8419;
		     } 
/* IMAGES */	
    .image-second { display: none; }

 /* Grid */
 /* Grid */
   section,
   header,
   footer { min-width: 300px; }
	
   section { 
	    padding: 1.5rem 0;
	    }
   .row-alter { 
	       background-color: #EFF0F1;
	       width: 100%;
              }
/*------------------------------------------------------------------
	^HEADER
-------------------------------------------------------------------*/	
/* ^NAV */
  
/*------------------------------------------------------------------
	^Banner
-------------------------------------------------------------------*/
   .section-jumbo {
	    background: url("img/road-hill-landscape.jpg");
	    width: 100%;
	    background-size: cover;
	    height: 100%;
	    z-index: 1;
	    position: relative;
	   }
	
   .banner:before {
	           position:absolute;
		   z-index:-1;
		   height: 100%;
		   width: 100%;
		   top: 0;
		   left: 0;
		   content: "";
		   background: rgba(0, 0, 0, .3);
                  }
      .banner-text {
	            height: 80%;
		    max-width: 700px;
		    margin:  auto;
		    display: flex;
		   flex-direction: column;
		   align-items: center;
		   justify-content: flex-start;
		   text-align: center;
		   color: #fff;
		   padding-top: 5rem; 
	          }

	   .banner h1 {  
		       text-transform: uppercase;
		       color: #DAA520;
		       text-align: center;
		      }
	   .banner p { 
		      margin: 0;
		      padding: 0;
		     }
		.banner-links {
		     margin-top: 1rem;
		}
/*------------------------------------------------------------------
	^MAIN-SERVICES
------------------------------------------------------------------*/
   .main-services {
	           display: flex;
	           width: 80%;
		   }
      .services {
	         flex: auto;
		 margin: 0 1%;	
		 text-align: center;
	        }
      .services h2 { font-size: 170%; }
		 
/*------------------------------------------------------------------
  ^ABOUT
-------------------------------------------------------------------*/
    .about-text {
	         width: 80%;
		 margin: auto;
	        }
      .about-sig {
	          width: 30%;
		  margin: 1rem auto 0;
                  display: flex;
	          flex-direction: column;
		  text-align: center;
		 }
      .about-sig img {
	              width: 40%;
		      height: auto;
		      border: 1px solid transparent;
		      border-radius: 50%;
		      margin: auto;
	             }
      .about-sig span {
	               font-size: 85%;
		       font-style: oblique;
	              }
	   
/*------------------------------------------------------------------
	  ^CONTACT
 -------------------------------------------------------------------*/
    .contact  {
	       height: 100%;	
	       background: url("roadToSeaSm.jpg");
	       width: 100%;
	       background-size: cover;
	       position: relative;
	       z-index: 1;
	       display: flex;
	      }
	  
    .contact:before {
	             position:absolute;
		     z-index:-1;
		     height: 100%;
		     width: 100%;
		     top: 0;
		     left: 0;
		     content: "";
		     background: rgba(0, 0, 0, .3);
	            }
      .contact-text { 
	             text-align: center; 
		     margin: auto;
		     width: 50%;
		     min-width: 200px;
		    }
	 
     .contact-text h3 { 
                       color: #DAA520;
		       font-size: 2rem;
	              }
      form {
	    display: flex;
	    align-items: center;
	    flex-direction: column;
	   }
	   
         input,
	 textarea {
	           margin-top: .5rem;
		   border-radius: 5px;
		   padding: .349rem;
		  /*  width: 40%; */
                  }
	   
          input[type="button"] {
	                        width: 20%;
			        text-align: center;
			        padding: .3rem;
 			        margin-top: 1.2rem;
 		                background: #DAA520;
			        color: #fff;
	                       }
/*------------------------------------------------------------------
    TESTIMONIAS
-------------------------------------------------------------------*/
    .testimonials-box { display: flex; }
       .testimonial-client {
	                    display: flex;
		            flex-direction: column;
		            align-items: center;
		            text-align: center;
	                   }
      .testimonial-client img {
	     		       width: 22%;
			       height: auto;
		 	       border: 1px solid transparent;
		 	       border-radius: 50%;
	  		      }
      .testimonial-client span {
	     			font-size: .85rem;
				font-style: oblique;
				padding: .5rem;
				}
/*------------------------------------------------------------------
  ^SEMINARS
-------------------------------------------------------------------*/
    .seminars { display: flex; }
	
       .seminar-1,
       .seminar-2 {
         	   flex: 1;
		   flex-direction: column;
		   justify-content: flex-start;
		   align-items: center;
		   display: flex;
		   }
 /*------------------------------------------------------------------
	  ^FOOTER
  -------------------------------------------------------------------*/ 
   .footer { 
	    background-color: #000;
   	    color: #fff;
	    display: flex;
	   }
      .copy { 
	     flex: 3;
	     font-size: .85rem;
	     }
      .myLinks {  
	        flex: 1;
		display: flex; 
		justify-content: center;
		align-items: center;
		font-size: 1.5em;
		}
       .icon {padding-right: .4rem; }
	   /* a black to grey grandient could be fine connecting the footer with the contact image */
	   
	   
/*------------------------------------------------------------------
^MEDIA QUERY MAX 768PX 
-------------------------------------------------------------------*/
@media all and (max-width: 768px ) {
		.navbar  {
				  padding: .5rem;
				  font-size: .75rem;
		         }
		   .navbar-brand  { font-size: 1rem; }
		   
		 
/*------------------------------------------------------------------
		^Banner
	-------------------------------------------------------------------*/
	
		 .banner-text {
		    max-width: 80%;
		}
	    
         .banner h2 {
		     font-size: 1.5rem;
		     line-height: 150%;

		 }
 /*------------------------------------------------------------------
		^MAIN-Services
		 -------------------------------------------------------------------*/
		 .main-services  {
		    
			 display: flex;
		     flex-direction: column;
		     
		 }
		 
		    .main-services p { 
			      width: 80%;
					
				  }
}
	   
@media all and (max-width: 550px)  {
    /*------------------------------------------------------------------
	^Basic
	-------------------------------------------------------------------*/

	p {  
	    font-size: .85rem;
	}
	small { font-size: .8rem; }
    /*------------------------------------------------------------------
	^NAV
	-------------------------------------------------------------------*/
	
	.navbar {
	     flex-direction: column;
		 text-align: center;
	}
		
		.navbar-menu {
		    margin-top: 20px;
		    flex-direction: column;
			justify-content: center;
			display: none;
		}
		
		.navbar-toggle {
		     display: flex;
			 align-self: flex-end;
			 position: absolute;
		}
		.navbar-menu--show { display: flex; }
		.banner  {
		    background: url("roadToMountsSm.jpg");
		    width: 100%;
			background-size: cover;
			height: 80%;
			z-index: 1;
			position: relative;
		}
		
		.services h2 { font-size: 130%; }
		
		.image-second { 
	        display: block;
			margin: auto;
	  }
	  .image-first {
	      display: none;
	  }
		
	/*------------------------------------------------------------------
	  ^Contact
	  -------------------------------------------------------------------*/
	  
	  .contact  {
	        padding-top: 2rem;
			height: 100%;
		}
	  
	 
	 .contact-text h3  { font-size: 1.3rem;}

	   
	   input,
	   textarea  {
	       width: 60%;
	   }
	   
	   input[type="button"]  {
	        width: 30%;
			
	   }
	/*------------------------------------------------------------------
	^FOOTER
	-------------------------------------------------------------------*/
	
	.footer { flex-direction: column-reverse; }
	   .myLinks { padding-bottom: .5rem; }
		 
}
